# Domain name for traefik reverse proxy (production only)
# Leave empty or remove for local development
DOMAIN_NAME=

# Queue Service - Naver Cloud SMS API
NAVER_CLOUD_ACCESS_KEY=
NAVER_CLOUD_SECRET_KEY=
NAVER_CLOUD_SMS_SERVICE_ID=
PHONE_NUMBER_SMS_SENDER=

# Auth - Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Auth - JWT & Security
JWT_SECRET=
INTERNAL_SECRET=
ADMIN_EMAIL=
