@font-face {
  font-family: 'Goorm Sans';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/goorm-sans-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Goorm Sans';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/goorm-sans-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MonoplexKR';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-kr@1.0/MonoplexKR-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Departure Mono';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2409-1@1.0/DepartureMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  position: absolute;
  font-family: "Goorm Sans", "MonoplexKR", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.1rem;
  line-height: 1.7rem;
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  margin-top: 0;
  margin-bottom: 1rem;
}

h2 {
  font-weight: 500;
  margin-top: 0;
}

i.fw {
  margin-right: 0.5rem;
}

.disabled {
  opacity: 50%;
  pointer-events: none;
}

.notyf__toast {
  min-width: 25rem !important;
  max-width: 40rem !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
