:9500 {
	encode zstd gzip

	redir /rules /rules/
	handle_path /rules/* {
		root * /srv/rules
		header Cache-Control "public, max-age=86400"
		file_server {
      browse /etc/caddy/template.html
    }
	}
}
